In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from scipy import linalg

df = pd.read_csv('automobile.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Price         6019 non-null   float64
 1   Make          6019 non-null   object
 2   Location      6019 non-null   object
 3   Age           6019 non-null   int64
 4   Odometer      6019 non-null   int64
 5   FuelType      6019 non-null   object
 6   Transmission  6019 non-null   object
 7   OwnerType     6019 non-null   object
 8   Mileage       6019 non-null   object
 9   EngineCC      6019 non-null   object
 10  PowerBhp      6019 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 517.4+ KB

,Price,Make,Location,Age,Odometer,FuelType,Transmission,OwnerType,Mileage,EngineCC,PowerBhp
0,1.75,marutiwagonr,Mumbai,10,72000,CNG,Manual,First,26.6,998,58.16
1,12.50,hyundaicreta,Pune,5,41000,Diesel,Manual,First,19.67,1582,126.2
2,4.50,hondajazz,Chennai,9,46000,Petrol,Manual,First,18.2,1199,88.7
3,6.00,marutiertiga,Chennai,8,87000,Diesel,Manual,First,20.77,1248,88.76
4,17.74,audia4,Coimbatore,7,40670,Diesel,Automatic,Second,15.2,1968,140.8

In [2]:
df['Mileage']= pd.to_numeric(df.Mileage.replace('+AC0-1','0'))
df['EngineCC']= pd.to_numeric(df.EngineCC.replace('+AC0-1','0'))
df['PowerBhp']= pd.to_numeric(df.PowerBhp.replace('+AC0-1','0'))

In [ ]:
import seaborn as sns
sns.pairplot(df[['Price','Age','Odometer','Mileage','EngineCC','PowerBhp']])

In [ ]:
import seaborn as sns
sns.pairplot(df,vars=('Price','Age','Odometer','Mileage','EngineCC','PowerBhp'))

In [ ]:
sns.pairplot(df)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

iris = sns.load_dataset('iris')

sns.histplot(iris, x='sepal_length')
plt.show()